flows_backup
[{"id":"5cb11cf5.c05aec","type":"tab","label":"Detection","disabled":false,"info":""},{"id":"3823b58a.82c17a","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"2448f81d.89cf18","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"643a7f3f.9292f8","type":"mqtt-broker","name":"websocket mqtt","broker":"ws://localhost:9001/mqtt","port":"1884","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"5533587b.ce89d","type":"mqtt-broker","name":"websocket2","broker":"ws://127.0.0.1:1884/mqtt","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"dbbf5b22.3c392","type":"mqtt in","z":"5cb11cf5.c05aec","name":"","topic":"motion","qos":"2","datatype":"auto","broker":"2448f81d.89cf18","nl":false,"rap":true,"rh":0,"x":70,"y":140,"wires":[["9d4e2e43.172d3","ed198fc1.0f6868"]]},{"id":"9d4e2e43.172d3","type":"debug","z":"5cb11cf5.c05aec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":450,"y":100,"wires":[]},{"id":"ed198fc1.0f6868","type":"function","z":"5cb11cf5.c05aec","name":"add timestamp","func":"msg.payload = new Date() + ' - ' + msg.topic + ' : ' + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1040,"y":720,"wires":[["15fb68d2.22926f","fdcd4bdf.cf543"]]},{"id":"15fb68d2.22926f","type":"file","z":"5cb11cf5.c05aec","name":"","filename":"./logs.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":1290,"y":720,"wires":[[]]},{"id":"ad2baac9.5fd3a","type":"http in","z":"5cb11cf5.c05aec","name":"","url":"/activate","method":"get","upload":false,"swaggerDoc":"","x":450,"y":500,"wires":[["adb050ed.7ede58","689a963e.06fc88"]]},{"id":"a089739d.c9d0b","type":"mqtt out","z":"5cb11cf5.c05aec","name":"","topic":"sensor","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"2448f81d.89cf18","x":670,"y":800,"wires":[]},{"id":"adb050ed.7ede58","type":"function","z":"5cb11cf5.c05aec","name":"","func":"\nvar resultmsg = {\n  topic: \"sensor\",\n  payload: msg.payload.status\n};\n\n\nreturn resultmsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":680,"wires":[["a089739d.c9d0b","c7e7398c.f3ed38","ed198fc1.0f6868"]]},{"id":"c7e7398c.f3ed38","type":"debug","z":"5cb11cf5.c05aec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":690,"y":580,"wires":[]},{"id":"41c65f20.678538","type":"http in","z":"5cb11cf5.c05aec","name":"","url":"/turnoff","method":"get","upload":false,"swaggerDoc":"","x":230,"y":900,"wires":[["cfd7d182.ae6b18","689a963e.06fc88"]]},{"id":"6278d33b.d8e90c","type":"mqtt out","z":"5cb11cf5.c05aec","name":"","topic":"alarm","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"2448f81d.89cf18","x":770,"y":1080,"wires":[]},{"id":"cfd7d182.ae6b18","type":"function","z":"5cb11cf5.c05aec","name":"","func":"\n\nvar resultmsg = {\n  topic: \"alarm\",\n  payload: false\n};\n\nreturn resultmsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":1000,"wires":[["6278d33b.d8e90c","cf1a3569.b7d168","ed198fc1.0f6868"]]},{"id":"cf1a3569.b7d168","type":"debug","z":"5cb11cf5.c05aec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":800,"y":980,"wires":[]},{"id":"237d7c50.022e64","type":"http request","z":"5cb11cf5.c05aec","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":730,"y":180,"wires":[[]]},{"id":"689a963e.06fc88","type":"http response","z":"5cb11cf5.c05aec","name":"ok","statusCode":"200","headers":{},"x":130,"y":340,"wires":[]},{"id":"8c5152ea.2973a8","type":"debug","z":"3823b58a.82c17a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":760,"y":280,"wires":[]},{"id":"654ef60.2d9350c","type":"mqtt in","z":"3823b58a.82c17a","name":"","topic":"test","qos":"2","datatype":"auto","broker":"5533587b.ce89d","nl":false,"rap":true,"rh":0,"x":260,"y":280,"wires":[["8c5152ea.2973a8"]]},{"id":"6fef9909.5d9618","type":"mqtt out","z":"3823b58a.82c17a","name":"","topic":"test","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5533587b.ce89d","x":660,"y":440,"wires":[]},{"id":"d790df2a.3b0598","type":"inject","z":"3823b58a.82c17a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":290,"y":480,"wires":[["6fef9909.5d9618"]]},{"id":"fdcd4bdf.cf543","type":"mqtt out","z":"5cb11cf5.c05aec","name":"","topic":"Message","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5533587b.ce89d","x":1280,"y":620,"wires":[]}]
