flows_backup
[{"id":"5cb11cf5.c05aec","type":"tab","label":"Detection","disabled":false,"info":""},{"id":"dbbf5b22.3c392","type":"mqtt in","z":"5cb11cf5.c05aec","name":"","topic":"motion","qos":"2","datatype":"auto","broker":"2448f81d.89cf18","nl":false,"rap":true,"rh":0,"x":70,"y":140,"wires":[["9d4e2e43.172d3","ed198fc1.0f6868"]]},{"id":"9d4e2e43.172d3","type":"debug","z":"5cb11cf5.c05aec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":470,"y":100,"wires":[]},{"id":"9e9e71e.1f8b09","type":"inject","z":"5cb11cf5.c05aec","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":1090,"y":640,"wires":[["961d2f9.13549d"]]},{"id":"961d2f9.13549d","type":"mqtt out","z":"5cb11cf5.c05aec","name":"","topic":"sensor","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"2448f81d.89cf18","x":1470,"y":660,"wires":[]},{"id":"2b052ed8.f1a20a","type":"inject","z":"5cb11cf5.c05aec","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":1090,"y":800,"wires":[["961d2f9.13549d"]]},{"id":"ed198fc1.0f6868","type":"function","z":"5cb11cf5.c05aec","name":"add timestamp","func":"msg.payload = new Date() + ' - ' + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":280,"wires":[["15fb68d2.22926f"]]},{"id":"15fb68d2.22926f","type":"file","z":"5cb11cf5.c05aec","name":"","filename":"./logs.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":670,"y":280,"wires":[[]]},{"id":"3c22dc80.d82a0c","type":"mqtt out","z":"5cb11cf5.c05aec","name":"","topic":"alarm","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"2448f81d.89cf18","x":1630,"y":980,"wires":[]},{"id":"dc0f41d7.7afc4","type":"inject","z":"5cb11cf5.c05aec","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":1290,"y":1040,"wires":[["3c22dc80.d82a0c"]]},{"id":"b161ca08.2e0198","type":"inject","z":"5cb11cf5.c05aec","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":1290,"y":920,"wires":[["3c22dc80.d82a0c"]]},{"id":"ad2baac9.5fd3a","type":"http in","z":"5cb11cf5.c05aec","name":"","url":"/activate","method":"get","upload":false,"swaggerDoc":"","x":110,"y":500,"wires":[["adb050ed.7ede58"]]},{"id":"a089739d.c9d0b","type":"mqtt out","z":"5cb11cf5.c05aec","name":"","topic":"sensor","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"2448f81d.89cf18","x":370,"y":760,"wires":[]},{"id":"adb050ed.7ede58","type":"function","z":"5cb11cf5.c05aec","name":"","func":"\n\nvar resultmsg = {\n  topic: \"sensor\",\n  payload: msg.payload.status\n};\n\n\nreturn resultmsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":180,"y":680,"wires":[["a089739d.c9d0b","c7e7398c.f3ed38","ed198fc1.0f6868"]]},{"id":"c7e7398c.f3ed38","type":"debug","z":"5cb11cf5.c05aec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":400,"y":660,"wires":[]},{"id":"41c65f20.678538","type":"http in","z":"5cb11cf5.c05aec","name":"","url":"/turnoff","method":"get","upload":false,"swaggerDoc":"","x":70,"y":920,"wires":[["cfd7d182.ae6b18"]]},{"id":"6278d33b.d8e90c","type":"mqtt out","z":"5cb11cf5.c05aec","name":"","topic":"alarm","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"2448f81d.89cf18","x":430,"y":1080,"wires":[]},{"id":"cfd7d182.ae6b18","type":"function","z":"5cb11cf5.c05aec","name":"","func":"\n\nvar resultmsg = {\n  topic: \"alarm\",\n  payload: false\n};\n\nreturn resultmsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":1000,"wires":[["6278d33b.d8e90c","cf1a3569.b7d168","ed198fc1.0f6868"]]},{"id":"cf1a3569.b7d168","type":"debug","z":"5cb11cf5.c05aec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":460,"y":980,"wires":[]},{"id":"237d7c50.022e64","type":"http request","z":"5cb11cf5.c05aec","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":730,"y":180,"wires":[[]]},{"id":"2448f81d.89cf18","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]
